<!DOCTYPE html>
<html>
<head>
    <title>SmartRetrieveAI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        * {
            border: 0;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        :root {
            --hue: 223;
            --bg: hsl(var(--hue),90%,95%);
            --fg: hsl(var(--hue),90%,5%);
            --trans-dur: 0.3s;
            font-size: calc(12px + (24 - 16) * (100vw - 320px) / (1280 - 320));
        }
        main {
            padding: 1.5em 0;
        }
        .ip {
            width: 16em;
            height: 8em;
        }
        .ip__track {
            stroke: hsl(var(--hue),90%,90%);
            transition: stroke var(--trans-dur);
        }
        .ip__worm1,
        .ip__worm2 {
            animation: worm1 2s linear infinite;
        }
        .ip__worm2 {
            animation-name: worm2;
        }

        /* Dark theme */
        @media (prefers-color-scheme: dark) {
            :root {
                --bg: hsl(var(--hue),90%,5%);
                --fg: hsl(var(--hue),90%,95%);
            }
            .ip__track {
                stroke: hsl(var(--hue),90%,15%);
            }
        }

        /* Animation */
        @keyframes worm1 {
            from {
                stroke-dashoffset: 0;
            }
            50% {
                animation-timing-function: steps(1);
                stroke-dashoffset: -358;
            }
            50.01% {
                animation-timing-function: linear;
                stroke-dashoffset: 358;
            }
            to {
                stroke-dashoffset: 0;
            }
        }
        @keyframes worm2 {
            from {
                stroke-dashoffset: 358;
            }
            50% {
                stroke-dashoffset: 0;
            }
            to {
                stroke-dashoffset: -358;
            }
        }

        .result-card {
            background-color: #f9f9f9;
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid #e0e0e0;
            border-radius: 5px;
        }

        .question {
            font-weight: bold;
            margin-bottom: 10px;
        }

        .answer {
            background-color: #f5f5f5;
            padding: 10px;
            border-radius: 5px;
        }

        .pdf-container {
            width: 50%;
            height: 800px;
        }

        .pdf-loader-container {
            position: relative;
            width: 100%;
            height: 100%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script>
        $(document).ready(function() {
            $('#submitBtn').on('click', function() {
                $('.loader').show();
                $.ajax({
                    url: $('#pdfForm').attr('action'),
                    type: 'post',
                    data: new FormData($('#pdfForm')[0]),
                    processData: false,
                    contentType: false,
                    success: function(data) {
                        $('.pdf-loader-container embed').attr('src', data.filename);
                        $('.result-card').remove(); // Remove previous result cards
                        if (data.results) {
                            for (var i = 0; i < data.results.length; i++) {
                                var result = data.results[i];
                                var resultCard = '<div class="result-card">';
                                resultCard += '<div class="question"><pre>Question: ' + result.question + '</pre></div>';
                                resultCard += '<div class="answer"><pre>Answer: ' + result.answer + '</pre></div>';
                                resultCard += '</div>';
                                $('.col-md-6:last-child').append(resultCard);
                            }
                        }
                        $('.loader').hide(); // Hide the loader after the results are displayed
                    },
                    error: function() {
                        $('.loader').hide(); // Hide the loader in case of an error
                    }
                });
            });
        });



    </script>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">SmartRetrieveAI</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">PDFBotQA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contract_draft' %}">ContractBotAI</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'sql_query_generator' %}">DBRetrieverAI</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-6">
         {% block content %}
        <h2>PDFBotQA</h2>
        <form method="post" enctype="multipart/form-data" id="pdfForm">
            {% csrf_token %}
            <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Select PDF File:</span>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="pdf_file"
                      aria-describedby="inputGroupFileAddon01" name="pdf_file">
                    <label class="custom-file-label" for="pdf_file">Choose file</label>
                  </div>
                </div>
            </div>
            <script>
                $('#pdf_file').on('change',function(){
                    var fileName = $(this).val();
                    var file_name = fileName.split('\\');
                    var lastEl = file_name[file_name.length-1];
                    $(this).next('.custom-file-label').html(lastEl);
                })
        </script>
            <div class="form-group">
                <label for="category">Select Category:</label>
                <select class="form-control browser-default custom-select" id="category" name="category">
                    <option value="patient_chart">Patient Chart</option>
                    <option value="project_document">Project Document</option>
                    <option value="claim_form">Claim Form</option>
                    <option value="invoice">Invoice</option>
                </select>
            </div>
            <button type="button" class="btn btn-outline-primary" id="submitBtn">Submit</button>
        </form>

        <div class="row mt-6" style="height: 800px;position: relative;bottom: 40px;top: 10px;">
            <div class="col-md-6">
                <div class="pdf-loader-container">
                    <embed src="" type="application/pdf" width="100%" height="100%"/>
                </div>
            </div>
            <div class="col-md-6">
                {% if results %}
                <h5>Results:</h5>
                {% for result in results %}
                <div class="result-card">
                    <div class="question"><pre>Question: {{ result.question }}</pre></div>
                    <div class="answer"><pre>Answer: {{ result.answer }}</pre></div>
                </div>
                {% endfor %}
                {% else %}
                <div class="loader" style="display: none;position: relative;right: 200px;">
                    <main>
                        <svg class="ip" viewBox="0 0 256 128" width="256px" height="128px" xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                                    <stop offset="0%" stop-color="#5ebd3e" />
                                    <stop offset="33%" stop-color="#ffb900" />
                                    <stop offset="67%" stop-color="#f78200" />
                                    <stop offset="100%" stop-color="#e23838" />
                                </linearGradient>
                                <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                                    <stop offset="0%" stop-color="#e23838" />
                                    <stop offset="33%" stop-color="#973999" />
                                    <stop offset="67%" stop-color="#009cdf" />
                                    <stop offset="100%" stop-color="#5ebd3e" />
                                </linearGradient>
                            </defs>
                            <g fill="none" stroke-linecap="round" stroke-width="16">
                                <g class="ip__track" stroke="#ddd">
                                    <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                                    <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                                </g>
                                <g stroke-dasharray="180 656">
                                    <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0" d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                                    <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358" d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                                </g>
                            </g>
                        </svg>
                    </main>
                </div>
                {% endif %}
            </div>
        </div>
        {% endblock content %}
    </div>

    <!-- Include Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>

