
<!-- sql_query_generator.html -->
{% extends "base.html" %}
{% block content %}

<h2>ContractBotAI</h2>
<form method="post" enctype="multipart/form-data" id="pdfForm">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Select PDF File:</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="pdf_file"
              aria-describedby="inputGroupFileAddon01" name="pdf_file">
            <label class="custom-file-label" for="pdf_file">Choose file</label>
          </div>
        </div>
    </div>
    <script>
        $('#pdf_file').on('change',function(){
            var fileName = $(this).val();
            var file_name = fileName.split('\\');
            var lastEl = file_name[file_name.length-1];
            $(this).next('.custom-file-label').html(lastEl);
        })
        function selectQuestion() {
          const predefinedQuestionsSelect = document.getElementById("predefinedQuestions");
          const questionInput = document.getElementById("questionInput");

          if (predefinedQuestionsSelect.value !== "") {
            questionInput.value = predefinedQuestionsSelect.value;
          }
        }
</script>
    <div class="form-group">
      <label for="questionInput">Write your question:</label>
      <div class="input-group">
        <select class="custom-select" id="predefinedQuestions" onchange="selectQuestion()" name="questionInput">
          <option value="">Select a pre-defined question</option>
          <option value="Summery">Could you please provide a summary of the contract?</option>
          <option value="Reviewing Contract Structure">Reviewing Contract Structure</option>
          <option value="Identifying Parties and Signatories">Identifying Parties and Signatories</option>
          <option value="Assessing Contract Scope">Assessing Contract Scope</option>
          <option value="Examining Payment Terms">Examining Payment Terms</option>
          <option value="Verifying Duration and Termination">Verifying Duration and Termination</option>
          <!-- Add more pre-defined questions here -->
        </select>
        <input type="text" class="form-control" id="questionInput" placeholder="Or enter your question here" name="questionInput">
      </div>
    </div>
    <button type="button" class="btn btn-outline-primary" id="submitBtn">Submit</button>
</form>

<div class="row mt-6" style="height: 800px;position: relative;bottom: 40px;top: 10px;">
    <div class="col-md-6">
        <div class="pdf-loader-container">
            <embed src="" type="application/pdf" width="100%" height="100%"/>
        </div>
    </div>
    <div class="col-md-6">
        {% if results %}
        <h5>Results:</h5>
        {% for result in results %}
        <div class="result-card">
            <div class="question"><pre>Question: {{ result.question }}</pre></div>
            <div class="answer"><pre>Answer: {{ result.answer }}</pre></div>
        </div>
        {% endfor %}
        {% else %}
        <div class="loader" style="display: none;position: relative;right: 200px;">
            <main>
                <svg class="ip" viewBox="0 0 256 128" width="256px" height="128px" xmlns="http://www.w3.org/2000/svg">
                    <defs>
                        <linearGradient id="grad1" x1="0" y1="0" x2="1" y2="0">
                            <stop offset="0%" stop-color="#5ebd3e" />
                            <stop offset="33%" stop-color="#ffb900" />
                            <stop offset="67%" stop-color="#f78200" />
                            <stop offset="100%" stop-color="#e23838" />
                        </linearGradient>
                        <linearGradient id="grad2" x1="1" y1="0" x2="0" y2="0">
                            <stop offset="0%" stop-color="#e23838" />
                            <stop offset="33%" stop-color="#973999" />
                            <stop offset="67%" stop-color="#009cdf" />
                            <stop offset="100%" stop-color="#5ebd3e" />
                        </linearGradient>
                    </defs>
                    <g fill="none" stroke-linecap="round" stroke-width="16">
                        <g class="ip__track" stroke="#ddd">
                            <path d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                            <path d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                        </g>
                        <g stroke-dasharray="180 656">
                            <path class="ip__worm1" stroke="url(#grad1)" stroke-dashoffset="0" d="M8,64s0-56,60-56,60,112,120,112,60-56,60-56"/>
                            <path class="ip__worm2" stroke="url(#grad2)" stroke-dashoffset="358" d="M248,64s0-56-60-56-60,112-120,112S8,64,8,64"/>
                        </g>
                    </g>
                </svg>
            </main>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}