{% extends "base.html" %}
{% block content %}
<div class="container">

    <!-- Add jQuery if you haven't already -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://d3js.org/d3.v6.min.js"></script>
  <style>
    .bar {
      fill: steelblue;
    }

    .tooltip {
      position: absolute;
      padding: 8px;
      background-color: rgba(0, 0, 0, 0.7);
      color: #fff;
      border-radius: 4px;
      pointer-events: none;
    }

    .axis {
      font-size: 12px;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
    }

    .axis text {
      fill: black;
    }

  </style>

  <h1>DBRetrieverAI</h1>
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="query">Ask Question:</label>
      <textarea class="form-control" id="query" name="query" rows="5" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Retrieve Data</button>
  </form>
  <div class="row mt-6">
    <div class="col-md-6">
      <div class="sql-result-container">
        {% if loading %}
          <!-- Show the loader while data is being retrieved -->
          <div class="loader"></div>
        {% elif sql_result %}
          <!-- Show the SQL result when available -->
          <div class="mt-4">
            <h2>Generated DATA:</h2>
            <pre>{{ sql_result|safe }}</pre>
          </div>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div id="chart"></div>
          <script>
            const data = {{json_res|safe}}

            // Set up the chart dimensions
            const margin = { top: 20, right: 20, bottom: 70, left: 40 };
            const width = 400 - margin.left - margin.right;
            const height = 300 - margin.top - margin.bottom;

            // Create the SVG element
            const svg = d3.select("#chart")
              .append("svg")
              .attr("width", width + margin.left + margin.right)
              .attr("height", height + margin.top + margin.bottom)
              .style("position", "relative")
              .style("top", "70px")
              .append("g")
              .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

            // Define the x and y scales
            const x = d3.scaleBand()
              .range([0, width])
              .padding(0.1);

            const y = d3.scaleLinear()
              .range([height, 0]);

            // Map the data to the scales
            x.domain(data.map(d => d.key));
            y.domain([0, d3.max(data, d => d.value)]);

            // Create the bars
            const bars = svg.selectAll(".bar")
              .data(data)
              .enter().append("rect")
              .attr("class", "bar")
              .attr("x", d => x(d.key))
              .attr("width", x.bandwidth())
              .attr("y", d => y(d.value))
              .attr("height", d => height - y(d.value));

            // Add tooltips
            const tooltip = d3.select("body").append("div")
              .attr("class", "tooltip")
              .style("opacity", 0);

            bars.on("mouseover", function(event, d) {
              tooltip.transition()
                .duration(200)
                .style("opacity", 0.9);
              tooltip.html("<strong>" + d.key + ": " + d.value + "</strong>")
                .style("left", (event.pageX) + "px")
                .style("top", (event.pageY - 28) + "px");
            });

            bars.on("mouseout", function() {
              tooltip.transition()
                .duration(500)
                .style("opacity", 0);
            });

            // Add x-axis
            svg.append("g")
              .attr("transform", "translate(0," + height + ")")
              .call(d3.axisBottom(x))
              .selectAll("text")
              .attr("transform", "rotate(-45)")
              .attr("text-anchor", "end")
              .attr("dx", "-0.8em")
              .attr("dy", "0.15em");

            // Add y-axis
            svg.append("g")
              .call(d3.axisLeft(y));

          </script>
    </div>
  </div>
  <br>
  <br>
</div>
{% endblock %}

